:root {
    --primary: #1e1e1e;
    --secondary: #f9f9f9;
    --tertiary: #cccccc;
    --accent: #0075ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    width: fit-content;
    min-width: 200px;
}

main {
    margin: 1rem 0;
}

section {
    display: flex;
    gap: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tertiary);
    transition: 0.4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: var(--secondary);
    transition: 0.2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--accent);
}

input:checked + .slider:before {
    transform: translateX(13px);
}

a {
    color: var(--secondary);
    width: fit-content;
}

footer {
    display: flex;
    flex-direction: column;
}
